# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code
.vscode/

# Large datasets
data/raw/
data/airline_operations.db
*.db
data/processed/flights_operations_*.csv
data/processed/flights_delay_analysis_*.csv

# OS
.DS_Store
Thumbs.db